@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-white: #fff;
  --color-black: #261008;
  --color-brown-50: #f4e6df;
  --color-brown-100: #e6c8ae;
  --color-brown-200: #c88d60;
  --color-brown-300: #bb8161;
  --color-brown-400: #a46745;
  --color-brown-500: #8d4e2a;
  --color-brown-600: #814524;
  --color-brown-700: #71381c;
  --color-brown-800: #632b16;
  --color-brown-900: #531c0c;

  --font-mono: var(--font-space-grotesk), ui-mono, system-ui, mono;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
  --font-body: var(--font-body), ui-sans-serif, system-ui, sans-serif;

  --breakpoint-7xl: 1720px;
}

:root {
  --background: #f4e6df;
  --foreground: #261008;
  --momenceColorBackground: #f4e6df;
  --momenceColorPrimary: 38, 16, 8;
  --momenceColorBlack: 38, 16, 8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4e6df;
    --foreground: #261008;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), system, sans-serif;
}

p a {
  text-decoration: underline;
}

mux-player {
  --controls: none;
  --media-object-fit: cover;
}

/* .embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 50%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  scroll-behavior: smooth;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
} */
